 * + * {
     margin: 0;
     padding: 0;
     border: 0;
     font-family: Arial, Helvetica, sans-serif;
     overflow: hidden;
     font-size: 14px;
 }

  /*=======
  CONTENT 
  =======*/

  .page-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 30px;
    min-height: 100vh;
    height: calc(100% - 560px);
  }
  
  .content-wrap {
    padding-bottom: 8px;    /* Footer height */

  }


    /*============
       IMAGE
  =============*/

  .google-logo {
      display: flex;
      justify-content: center;
      padding: 1.2em;
      max-height: 100%;
      max-width: 100%;
      width: auto;
      object-fit: contain;
      object-position: center bottom;
    }

    

  /*============
  NAVIGATION BAR
  =============*/

  #nav-bar {
      position: relative;
      overflow: hidden;
      display: block;
      padding-right: 12em;
  }

  /* for seperating navigation bar content */
   .right-align > li {
    float: right;
  }

 li {
     padding: 0.5em;
     display: block;
     float: left;
 }

ul {
    list-style-type: none;
 }

 /* google application material icon */

   .apps-icon {
     position: absolute;
     padding-right: 30px;
    top: 16px;
    right: 65px;
    width: 25px;
    height: 25px;
    margin-right: 1.5rem;
    background-color: transparent;
    background-repeat: no-repeat;
    opacity: 0.5;
 }



   /* =======
   NAV LINKS
   ==========*/

 a {
     text-decoration: none;
    color: #000000 }

 a:hover {
     text-decoration: underline;
 }

  /*=========
  SEARCH BAR
  ==========*/

input[type=search] {
    border-radius: 100vh;
    padding: 1em 3em;
    width: 100%;
    text-align: center;
    border: 1px solid #e9eaeb;
    height: 40px;
    width: 527px;
}


form {
  position: relative;
}

form::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  opacity: 0.4;
  background: url("search_black_24dp.svg") center / contain no-repeat;
}

input {
  padding: 10px 30px;
}

  /*=======
  BUTTONS
  =======*/

  .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    

input[type=submit] {
    border-radius: 8px;
    margin: 11px 4px;
    background-color: #f8f9fa;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-size: 14px;
    line-height: 27px;
    border: 1px solid #f8f9fa;
    padding: 0 18px;
    height: 36px;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    cursor: grab;
}

.sign-in-button {
  position: absolute;
  border-radius: 4px;
  right: 0;
  top: 0;
  background-color: #1a73e8;
  border: none;
  padding: 9px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin: 10px 12px; 
  cursor: pointer;
  color: #fff;
}

  /*=======
   FOOTER
  =======*/

  .carbon {
      vertical-align: top;
    text-align: center;
  }

  footer {
    color: #70757a;
    background-color: #ebecec;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    min-height: 60px;
  }
